
SpeechAdventure/SpeechAdventure/GameModel/.DS_Store

SpeechAdventure/SpeechAdventure/Resources/Art/.DS_Store

SpeechAdventure/SpeechAdventure.xcodeproj/xcuserdata/john.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

*.xcuserstate

*.xcuserstate

SpeechAdventure/SpeechAdventure.xcodeproj/project.xcworkspace/xcuserdata/john.xcuserdatad/UserInterfaceState.xcuserstate

*.xcsettings
